.farmGuideContainer {
  padding: 1.25rem 1.25rem 0.2rem 1.25rem;
  background-color: #f9f9f9;
  border-radius: 0.5rem; 
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* 그림자 */
}

h2 {
  font-size: 1.8rem; 
  color: #3D7537; 
  text-align: center;
  margin-bottom: 0.75rem;
}

.subtitle {
  font-size: 1.2rem; /* 부제목 글자 크기 */
  font-weight: bold;
  color: #555;
  text-align: center;
  margin-bottom: 1.25rem;
}

.guideList {
  list-style: none; /* 리스트 스타일 제거 */
  padding: 0;
  display: flex;
  flex-direction: column;
}

.guideItem {
  display: flex;
  align-items: center;
  height: 6vw; /* 상대적 높이 설정 */
  justify-content: center;
  padding: 0.9375rem; /* 내용 간격 조정 */
  margin-bottom: 1rem;
  background-color: rgba(235, 236, 210, 0.41);
  border-radius: 0.375rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); /* 그림자 */
}

.guideItem:last-child {
  margin-bottom: 0; /* 마지막 아이템의 하단 여백 제거 */
}

.guideItem p {
  font-size: 1.6rem; 
  color: black; /* 글자 색상 */
  text-align: center;
}
