.cameraPage {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; /* 기본 배경 */
}

.cameraContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.cameraFeed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 비율에 맞춰 전체 화면에 맞추기 */
}

/* 촬영하기 버튼 크기 키우기 */
.captureButton {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 2rem; /* 버튼 크기를 키움 */
  background-color: #5b8e55;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

/* 수직 가운데 정렬 및 설명 텍스트 간격 조정 */
.instructions {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 2rem;
  text-align: center;
  background: rgba(91, 142, 85, 0.41); /* 배경색 적용 */
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  width: 98%;
  box-sizing: border-box;
  line-height: 1.5;
}

/* 취소 버튼을 화면 왼쪽 상단에 배치 */
.cancelButton {
  position: absolute;
  top: 5%;
  left: 5%;
  padding: 1rem 2rem;
  background-color: #5b8e55;
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

/* 캡처된 이미지를 보여주는 영역 */
.capturedImageContainer {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.capturedImage {
  width: 100%;
  max-width: 60rem;
  border-radius: 1rem;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 2rem; /* 버튼 간격 추가 */
}

/* 분석하기 버튼 - 큰 동그란 버튼 */
.analyzeButton {
  width: 6rem; /* 버튼 크기 키움 */
  height: 6rem;
  background-color: #4caf50;
  border-radius: 50%;
  color: white;
  font-size: 1rem; /* 글자 크기 줄임 */
  border: none;
  cursor: pointer;
  display: block;
  position: absolute; /* 가운데 정렬을 위한 absolute 사용 */
  left: 50%;
  transform: translateX(-50%); /* 버튼을 가로 가운데로 이동 */
}

/* 다시 찍기 버튼 - Restart.png 아이콘 사용 */
.retakeButton {
  width: 4rem; /* 버튼 크기 키움 */
  height: 4rem;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  position: absolute;
  left: calc(50% + 7rem); /* 분석하기 버튼의 오른쪽에 위치 */
}

/* Restart.png 아이콘 크기 조정 */
.retakeButton img {
  width: 2rem; /* 아이콘 크기 조정 */
  height: 2rem;
}
