.diagnosisPage {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    min-height: 100vh;
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    padding: 1rem;
    background-color: #fff;
}

.backButton {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
}

.title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #5b8e55;
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.imageContainer {
    width: 95%;
    max-width: 500px;
    background-color: rgba(235, 236, 210, 0.41);
    border-radius: 1.5rem;
    border-color: #5B8E55;
    padding: 1rem;
    margin-bottom: 1rem;

    /* 테두리와 그림자 추가 */
    border: 0.5px solid #5B8E55;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    overflow: hidden; /* 이미지가 박스를 넘지 않도록 설정 */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sectionButton {
    font-size: 1.1rem;
    background-color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    margin-bottom: 0.5rem;
    color: #5B8E55;
    font-weight: bold;
    text-align: left;
    width: fit-content;

    /* 테두리와 그림자 추가 */
    border: 2px solid #5B8E55;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.diagnosisImage {
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    margin-top: 0.5rem;
    object-fit: contain; /* 이미지가 박스를 넘지 않도록 설정 */
}

.healthyMessage {
    font-size: 1.5rem;
    font-weight: bold;
    color: #5b8e55;
    margin-top: 1rem;
}

.illustImage {
    width: 70%;
}

.pestInfo {
    width: 95%;
    max-width: 500px;
    background-color: rgba(235, 236, 210, 0.41);
    border-radius: 1.5rem;
    padding: 1rem;
    text-align: left; /* 병명과 치료법 왼쪽 정렬 */
}

.pestTitle {
    font-size: 1.2rem;
    color: #e74c3c;
    margin-bottom: 0.5rem;
}

.pestDescription, .treatmentTitle, .treatmentDescription {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.closeButton {
    width: 6rem;
    height: 2.5rem;
    background-color: #5b8e55;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    text-align: center;
    margin: 1rem;
    align-self: flex-end; /* 닫기 버튼을 오른쪽 정렬 */

}
