.memoContainer {
  width: 100%;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.memoTitle {
  font-size: 1.75rem; /* 타이틀 글자 크기 증가 */
  font-weight: bold;
  margin-bottom: 1rem;
}

.memoInputWrapper {
  display: flex;
  align-items: center;
  background-color: rgba(235, 236, 210, 0.41); 
  padding: 1rem;
  border-radius: 0.5rem;
}

.memoInput {
  width: 100%;
  height: 6rem;
  padding: 0.5rem;
  font-size: 1.25rem; /* 입력 폰트 크기 증가 */
}

.memoDisplay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(235, 236, 210, 0.41);
  border-radius: 0.5rem;
  font-size: 1.25rem; /* 메모 디스플레이 폰트 크기 증가 */
}

.icon {
  cursor: pointer;
  margin-left: 1rem;
  width: 2rem; /* 아이콘 크기 증가 */
  height: 2rem;
}

.errorMessage {
  color: red;
  font-size: 1rem; /* 경고 메시지 글자 크기 증가 */
  margin-top: 0.5rem;
}
