.gardenContainer {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  padding: 1rem;
  height: 12vw;
  margin-bottom: 1.5rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.backButton {
  cursor: pointer;
  width: 3rem; /* 크기 조정 */
  height: 3rem;
}

.placeName {
  font-size: 2rem;
  color: #5b8e55;
  text-align: center;
  flex-grow: 1;
}

.nicknameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

.nickname {
  font-size: 1.75rem;
}

.nicknameInput {
  font-size: 1.75rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  text-align: center;
  outline: none;
}

.editIcon {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
}

.gardenType {
  font-size: 1.25rem; /* 글자 크기를 약간 키움 */
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-align: center;
}

.weatherBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* 폭을 조금 넓힘 */
  padding: 0.75rem; /* padding을 늘려서 여유 공간 추가 */
  border: 1px solid #5B8E55;
  border-radius: 0.3125rem;
  text-align: center;
  font-size: 1rem; /* 텍스트 크기 조정 */
}

.weatherImage {
  width: 1.75rem; /* 크기를 줄임 */
  height: 1.75rem;
  margin-right: 0.5rem;
}

.weatherBox p {
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

.deleteIcon {
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0.625rem;
}


.plantList {
  margin: 5%;
  margin-bottom: 0;
}

.plantBox {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgba(235, 236, 210, 0.41);
  justify-content: space-between;
  margin-bottom: 1rem;
  border: 1px dashed #ccc;
  border-radius: 0.625rem; 
  border-bottom: 1px solid #ccc;
  height: 7rem; 
}

.plantImage {
  width: 35%; 
  height: auto; 
  margin-right: 0.9375rem; 
}

.plantDetails {
  text-align: center;
  flex-grow: 1;
}

.plantDetails h3 {
  margin: 0;
  font-size: 1.6rem; 
}

.plantDetails p {
  margin: 0.3125rem 0 0 0; 
  color: #888;
}

.seedDate {
  font-size: 0.75rem; 
  position: absolute;
  bottom: 0.3125rem; 
  right: 0.625rem;
  text-align: right;
}

.deletePlantIcon {
  cursor: pointer;
  width: 1.25rem; 
  height: 1.25rem; 
  position: absolute;
  top: 0.3125rem; 
  right: 0.3125rem; 
}

.addPlantBox {
  margin: 1.25rem auto; 
  width: 80%;
  padding: 1.25rem; 
  background-color: rgba(235, 236, 210, 0.41);
  border: 1px dashed #ccc;
  border-radius: 0.625rem;
  text-align: center;
}


.addPlantText {
  font-size: 1rem; 
  color: #5B8E55;
  margin-bottom: 0.625rem; 
  text-align: center;
}

.addPlantButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.addPlantIcon {
  width: 3.5rem; 
  height: auto; 
  margin-right: 0.625rem; 
}
