/* pestDetectionBox.module.css */
.pestDetectionBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  background-color: rgba(235, 236, 210, 0.41);
  flex: 1; /* 동일한 크기 차지 */
  box-sizing: border-box; /* 패딩 포함 크기 */
  width: 100%; /* 너비 조절, 100% */
}

.pestDetectionImage {
  width: 90%;
  object-fit: cover; /* 이미지를 고정 크기에 맞춰서 잘라서 표시 */
  margin-bottom: 1rem;
}


.pestDetectionTitle {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.pestDetectionDescription {
  font-size: 1rem;
  text-align: center;
  color: black;
}