.dateInfoBox {
    padding: 1rem;
    max-width: 50%;
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤 */
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
    box-sizing: border-box;
  }
  
  .dateTitle {
    font-size: 1.4rem;
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 0.5rem;
  }
  
  .dateItem {
    margin-bottom: 1rem; 
    font-size: 0.8rem;
    color: #666666;
    margin: 6px 0;
    display: flex;
    justify-content: left;
  }
  
  .dateItem {
    margin-bottom: 1rem;
    display: flex; /* 줄바꿈을 위해 flex를 적용 */
    flex-direction: column; /* 세로로 배치 */
    margin-bottom: 0;
  }
  
  .label {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.5rem; /* 라벨과 값 사이의 간격 */
  }
  
  .value {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
  }
  
  