.todosContainer {
    display: flex;
    background-color: rgba(235, 236, 210, 0.41);
    padding: 1rem;
    border-radius: 15px;
    flex-direction: column;
    margin-bottom: 1rem;
    gap: 1rem;
  }
  
  .todoBox {
    display: flex;
    height: 8vw;
    align-items: center;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
  }
  
  .todoIcon {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
  }
  
  .todoDate {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1rem;
  }
  
  .todoText {
    text-align: center;
    font-size: 1rem;
    color: #333;
  }
  
  .highlightedText {
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  /* 각 todoType에 따른 색상 */
  .watering .todoText {
    color: #1e90ff; /* 파란색 (물주기) */
  }
  
  .fertilizing .todoText {
    color: #8b4513; /* 갈색 (비료주기) */
  }
  
  .harvesting .todoText {
    color: #2e8b57; /* 녹색 (수확하기) */
  }
  