.community-detail-body-header{
    margin-left: 5%;
    display: flex;
    margin-top: 5%;
}

.detail-profile-img{
    width: 12%;
    height: 12%;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.detail-body-header-profile{
    margin-left: 5%;
}

.article-img{
    border-radius: 3%;
    border-radius: 3%;
    width: 100%;   /* 부모 요소 너비에 맞춤 */
    height: auto;
    object-fit: cover; /* 이미지가 영역을 넘지 않도록 맞춤 */
}

.community-detail-body-body{
    margin-top: 5%;
    /* width: 100%; */
    /* display: flex; */
    justify-content: center;
    margin-left:5%;
    margin-right: 5%;
}


.community-detail-content{
    color: #5B8E55;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
}

.community-detail-title{
    font-size: 1.4rem;
    margin-bottom: 2%;
}


.community-detail-body-footer{
    margin-top: 5%;
    color: #5B8E55;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.community-detail-count{
    display: flex;
    margin-right: 5%;
}

.count-position{
    margin-left: 5%;
}

.article-pencil{
    color: lightgray;
    margin-left: 2%;
    margin-top: 5%;
}

