.instruction{
    font-size: 1.3rem;
    display: flex;
    margin-top: 5%;
    margin-bottom: 6%;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
}

.box-color{
    background-color: #EBECD2;
    opacity: 41%;
    isolation: isolate;
    margin-bottom: 5%;
    width:90%;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    height: 12%;
}

.box-title{
    margin-left: 5%;
    vertical-align: middle;
    display: table-cell;
    font-weight: bold;
}

.box-content{
    justify-content: center;
    text-align: center;
    margin-left: 30%;
    display: flex;
    align-items: center;
    white-space: nowrap; /* 텍스트를 한 줄로 유지 */  
}




.slide-enter {
    transform: translateY(100%);
    opacity: 0;
  }
  
  .slide-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: transform 200ms ease-in, opacity 200ms ease-in;
  }
  
  .slide-exit {
    transform: translateY(0);
    opacity: 1;
  }
  
  .slide-exit-active {
    transform: translateY(100%);
    opacity: 0;
    transition: transform 200ms ease-in, opacity 200ms ease-in;
  }
  


  .box-content-extra{
    margin-left: 20%;
  }