.farm-instruction{
  font-size: 1.3rem;
  display: flex;
  margin-top: 10%;
  align-items: center;
  justify-content: center;
  color: #5B8E55;
}

.image-size{
    width: 25vw; 
    height: auto; /* 자동으로 높이 조정 */
    aspect-ratio: 1 / 1; /* 1:1 비율 유지 */
    object-fit: cover; /* 이미지 크기에 맞게 자르기 */
    margin-top: 5%;
}

.image-group{
    display: flex;
    flex-wrap: wrap; /* 여러 줄로 나누기 */
    align-content: flex-start;
    justify-content: center;
    gap: 10px; /* 이미지 사이의 간격 */
}