.instruction{
    font-size: 1.3rem;
    display: flex;
    margin-top: 5%;
    margin-bottom: 6%;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
}

.box-color{
    background-color: #EBECD2;
    opacity: 41%;
    isolation: isolate;
    margin-bottom: 5%;
    width:90%;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    height: 12%;
}

.box-title{
    margin-left: 5%;
    vertical-align: middle;
    display: table-cell;
    font-weight: bold;
}

.box-content{
    justify-content: center;
    text-align: center;
    margin-left: 30%;
    display: flex;
    align-items: center;
    
}
